<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="none" >
    <test name="IETestCases">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name ="MainPageTests"/>
            <class name ="RegistrationTests"/>
            <class name ="HowWeWorkTests"/>
            <class name ="SearchTests"/>
            <class name ="MediaTests"/>
            <class name ="GiftTests"/>
            <class name ="TourTests"/>
            <class name ="BlogTests"/>
            <class name ="SignInTests"/>
        </classes>
    </test>
    <test name="FirefoxTestCases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name ="MainPageTests"/>
            <class name ="RegistrationTests"/>
            <class name ="HowWeWorkTests"/>
            <class name ="SearchTests"/>
            <class name ="MediaTests"/>
            <class name ="GiftTests"/>
            <class name ="TourTests"/>
            <class name ="BlogTests"/>
            <class name ="SignInTests"/>
        </classes>
    </test>
    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name ="MainPageTests"/>
            <class name ="RegistrationTests"/>
            <class name ="HowWeWorkTests"/>
            <class name ="SearchTests"/>
            <class name ="MediaTests"/>
            <class name ="GiftTests"/>
            <class name ="TourTests"/>
            <class name ="BlogTests"/>
            <class name ="SignInTests"/>
        </classes>
    </test>
</suite>
